main
{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleBar
{
  width: 100vw;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
.buttonsToAction
{
  margin-top: 10px;
  margin-bottom: 80px;

}
.dashboard
{
  font-weight: 600;
}
button
{
  margin-right: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;

}

h2
{
  text-align: center;
}
.containerComp
{
 
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 80vw;
  min-height: 400px;
  margin-bottom: 50px;
  padding: 50px;
}
.searchComp
{
  margin-left: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.messagesComp
{
  width: 400px;
  min-height: 100px;
  margin-left: 100px;
  display: flex;
  justify-content: center;

}
.actorsComp
{
  width: 500px;
  min-height: 150px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px  ;
  padding-bottom: 50px  ;

}
.addActor
{
  width: 500px;
  height: 600px;
  margin-left: 100px;
  display: flex;
  justify-content: center;
}
.components
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
app-actor-panel
{
  margin-right: 50px;
  margin-top: 20px;
}
