div{
  width: 100%;
  min-width: 20em;
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.add-button {
  font-weight: 400;
  text-decoration: none;
  
  margin: auto;
  padding: 0.5em;
  border-radius: 0.2em;
  
  background-color: var(--dark-background);
  color: var(--font-color-light);
  border-bottom: 1px solid var(--font-color-light);
  text-decoration: underline;
  
  transition: all 0.2s ease-in;
}

.add-button:hover{
  background-color: var(--light-background);
  color: var(--font-color-dark);
  border-bottom: 1px solid var(--font-color-dark);
}